<h1><%= @board.title %>: Enrollments</h1>
<%= link_to 'Add Enrollment', new_board_list_path(@board) %>
<hr />

<h2>Teacher</h2>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= list.item %>
      <br />
      <%= link_to 'Remove', board_list_path(@board, list), method: :delete %>
    </li>
  <% end %>
</ul>