<h1><%= @board.title %></h1>

<%= link_to "Edit", edit_board_path(@board), class: "ui red button inverted" %>
<%= link_to "Delete", @board, method: :delete, class: "ui red button" %>
<%= link_to "Back", boards_path , class: "ui blue button inverted" %>
